/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.15;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
  margin: 30px;
  box-sizing: border-box;
}

.news{
  width: 380px;
  height: 200px;
  display: grid;
  grid-template-columns: 122px 1fr 1fr;
  grid-template-rows: 21px 24px 21px  21px 1fr;
  grid-template-areas: 
  "title title more"
  "line line line"
  "figure subtitle subtitle"
  "figure time time"
  "figure contents contents"
  ;
  row-gap: 4px;
}
.news-title{
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  color: #ED552F;
  grid-area: title;
  height: 21px;
}

.line_decoration{
  background: linear-gradient(90deg, #A9A9A9 -1.32%, #FFFFFF 100%);
  width: 300px;
  height: 1px;
  margin: 12px 0;
  grid-area: line;
}

.news-sub-title{
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  color: #181818;
  grid-area: subtitle;
}

.news-time {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #181818;
  grid-area: time;
}
.news-contents{
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-align: justify;
  color: #181818;
  grid-area: contents;
  padding-top: 8px;
}

.news-figure{
grid-area: figure;
width: 112px;
justify-self: left;
margin-left: -15px;
}
.news-figure img{
  width: 112px;
  height: 66px;
}
.news-figure figcaption{
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #181818;
  text-align: center;
  margin-top: -12px;
}

.news-more{
  text-decoration: none;
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #000000;
  grid-area: more;
  text-align: right;
}