@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable-dynamic-subset.css");

* {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 30px;
}

.login{
  width: 244px;
  height: 161px;
  padding: 12px;
  background: linear-gradient(90deg, #ED552F 0%, #E8852E 100%);
  box-shadow: 5px 5px 0px #AAAAAA;
  border-radius: 5px;
  position: relative;
}

fieldset{
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  overflow: hidden;
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
}

h3 {
  width: 39px;
  height: 23px;
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.5;
  color: #FFFF00;
  margin-bottom: 8px;
}

.loginForm__group {
  width: 220px;
  height: 69px;
  padding: 8px;
  background: #FFFFFF;
  border-radius: 5px 5px 0px 0px;
  border: 0;
  position: relative;
}

.loginForm__id, .loginForm__pw{
  width: 56px;
  display: inline-block;
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #000000;
}
input[type="email"],
input[type="password"]{
  width: 90px;
  height: 24px;  
  border: 1px solid #CCCCCC;
  border-radius: 5px;
}

input[type="email"]::placeholder,
input[type="password"]::placeholder{
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #7A7A7A;
  text-indent: 8px;
}
.loginForm__pw{
  margin-top: 4px;
}

a {
  text-decoration: none;
  color: black;
}

.loginButton{
  width: 50px;
  height: 53px;
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 150%;
  background: #ED552F;
  border-radius: 5px;
  border: 0;
  color: #FFFFFF;
  position: absolute;
  right: 8px;
  top: 8px;
}
span.line{
  width: 209px;
  height: 1px;
  background: #CCCCCC;
  position: absolute;
  left: 18px;
}
.login__add{
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.5;
  list-style: none
  ;
  width: 220px;
  height: 36px;
  background: #FFFFFF;
  border-radius: 0px 0px 5px 5px;
}
.login__Join{
margin: 4px 0 0 16px;
float: left;

}

.login__Find{
  margin:4px 8px 0 0;
  float: right;
}